.side-menu{
  background-color: #F9F9F9;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &--item{
    width: 160px;
    height: 32px;
    background-color: none;
    padding: 0px 0px;
    vertical-align: bottom;
    line-height: 32px;
    font-size: 14px;
    color: #4F4F4F;
    font-weight: bold;
    padding: 8px 0 8px 28px;
    cursor: pointer;

    &:hover{
      background-color: #ccc
    }

    i.material-icons {
      color: #4F4F4F;
      font-size: 18px;
      vertical-align: text-bottom;
      margin-right: 8px;
      line-height: 16px;
    }
  }
}